
<div class="container">
<p id="notice"><%= notice %></p>

<h1>Customers</h1>
<%= link_to 'New Customer', new_customer_path %>

<%= render partial: 'customer', collection: @customers %>

<br>

<%= link_to 'New Customer', new_customer_path %>
</div>
