// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
	width: 800px;
	margin: 0 auto;
}

img {
	width: 90px;
}

.actions {
	float: right;
}

.customer {
	border-style: solid;
	width: 400px;
	margin: 10px;
	padding: 5px;
}